# Fichiers Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Environnements virtuels
.venv/
venv/

# Fichiers sensibles
serviceAccountKey.json
firebase_admin_config.py

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Pytest / coverage
.coverage
htmlcov/
